* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #fff;
}

header {
  background-color: #fff;
  text-align: center;
  padding: 10px;
}

.hr1 {
  border: 0;
  height: 2px;
  background-color: #000;
  margin: 10px 0;
}

.logo img {
  height: 80px;
}

.main-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.main-nav li {
  display: inline-block;
  margin-left: 20px;
}

.main-nav li a {
  color: #c53211;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Syncopate", sans-serif;
  font-weight: bold;
  font-size: 15px;
  transition: border 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #000;
}

.blogs-container {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
}

.blog-card:hover {
  transform: scale(1.05);
}

.blog-card .blog-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.blog-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #c53211;
  margin-bottom: 10px;
}

.blog-summary {
  margin-bottom: 10px;
}

.read-more {
  color: #c53211;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.read-more:hover {
  color: #a4280c;
}

footer {
  padding: 20px;
  text-align: center;
  color: #c53211;
}

.social-icons {
  margin-top: 20px;
}

.social-icon {
  margin-right: 15px;
  color: #c53211;
  text-decoration: none;
}
