* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #fff;
}

header {
  background-color: #fff;
  text-align: center;
  padding: 10px;
}

.hr1 {
  border: 0;
  height: 2px;
  background-color: #000;
  margin: 10px 0;
}

.logo img {
  height: 80px;
}

.main-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.main-nav li {
  display: inline-block;
  margin-left: 20px;
}

.main-nav li a {
  color: #c53211;
  text-decoration: none;
  padding: 5px 20px;
  font-family: "Syncopate", sans-serif;
  font-weight: bold;
  font-size: 15px;
  transition: border 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}

.mobile-nav-icon {
  display: block;
  font-size: 24px;
  color: #c53211;
  cursor: pointer;
}
.mobile-nav-icon {
  display: none;
  font-size: 24px;
  color: #c53211;
}

.mobile-nav-dropdown {
  display: none;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #000;
}

.reviews-container {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.review-card {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
  text-align: center;
}

.review-card h2 {
  font-family: "Montserrat", sans-serif;
}

.review-card .rating {
  color: #c53211;
  padding: 5px;
}

.review-card .short-description {
  margin-top: 10px;
}

.review-card a {
  display: block;
  margin-top: 10px;
  color: #c53211;
  text-decoration: none;
}

.review-details {
  font-family: "Montserrat", sans-serif;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 90%;
  max-width: 600px;
  box-sizing: border-box;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #000;
}

.review-details h2 {
  margin-bottom: 10px;
}

.review-details p {
  margin-bottom: 15px;
}

.reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.review-card {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px;
  transition: transform 0.3s ease-in-out;
}

.review-card:hover {
  transform: scale(1.05);
}

.review-details-left h2 {
  margin-bottom: 10px;
}

.review-details-right {
  text-align: right;
}

.review-card h2,
.review-card .rating {
  color: #c53211;
}

.short-description,
.long-description {
  margin-top: 10px;
}

.short-description p,
.long-description p {
  margin: 0;
}

.long-description a.read-more {
  color: #c53211;
  text-decoration: underline;
}

.long-description a.read-more:hover {
  text-decoration: none;
}

.reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.review-card {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  max-width: 550px;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px;
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
}

.review-card:hover {
  transform: scale(1.05);
}

.review-details-left,
.review-details-right {
  width: 48%;
}

.review-details-right img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #c53211;
  cursor: pointer;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#searchInput {
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.search-container button {
  padding: 10px;
  background: #c53211;
  color: #fff;
  border: 2px solid #c53211;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-container button:hover {
  background: #a4280c;
}

#searchInput:focus {
  outline: none;
}

footer {
  padding: 20px;
  text-align: center;
  color: #c53211;
}

.social-icons {
  margin-top: 20px;
}

.social-icon {
  margin-right: 15px;
  color: #c53211;
  text-decoration: none;
}
.image-row {
  display: flex;
  align-items: center;
}

.image {
  max-width: 33.33%;
  align-items: center;
  padding: 10px 10px;
  margin-left: 0px;
}
@media only screen and (min-width: 600px) {
  .main-nav li {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .review-details {
    width: 100%;
    max-width: none;
  }
}
@media only screen and (max-width: 768px) {
  .review-card {
    flex-direction: column;
  }

  .review-details-left,
  .review-details-right {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main-nav {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .main-nav.active {
    display: flex;
  }

  .main-nav li {
    margin: 10px 0;
  }

  .mobile-nav-icon {
    display: block;
  }

  .mobile-nav-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-nav-dropdown.active {
    display: none;
  }
}
